<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입 상세정보</title>
</head>
<body>
<h1>회원가입 상세 정보 입력</h1>

<form method="post" action="/oauth/signup/detail">
    <label for="nickname">닉네임:</label>
    <input type="text" id="nickname" name="nickname" required><br><br>

    <label for="gender">성별:</label>
    <select id="gender" name="gender">
        <option value="Male">남성</option>
        <option value="Female">여성</option>
    </select><br><br>

    <label for="age">나이:</label>
    <input type="text" id="age" name="age"><br><br>

    <button type="submit">제출</button>
</form>
</body>
</html>
